<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="{{currentLocale}}"/> 

		{{#if data.portfolio}}
				{{#if data.portfolio.meta.title}}
						<title>{{title}}: {{data.portfolio.meta.title}}</title>
				{{else}}
						<title>{{title}}: {{data.portfolio.title}}</title>
				{{/if}}
				{{#if data.portfolio.meta.description}}
						<meta name="description" content="{{data.portfolio.meta.description}}">
				{{else}}
						<meta name="description" content="{{data.portfolio.content.brief}}">
				{{/if}}
				<meta property="article:published_time" content="{{data.portfolio.publishedDate}}">
				{{# each data.portfolio.categories}}
						<meta property="article:tag" content="{{name}}">
				{{/each}}
				<meta name="keywords" content="{{# each data.portfolio.categories}}{{name}}, {{/each}}">    
		{{else}}
				<title>{{title}}: {{description}}</title>
				<meta name="description" content="{{description}}">            
				<meta name="keywords" content="Node.js, development, api">
		{{/if}}  

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link href="/styles/side_navbar/navbar-fixed-side.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<nav class="navbar navbar-default navbar-fixed-side">	
						<div class="container">
							<div class="navbar-header">
								<!--toggle button starts-->
								<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<!--toggle button ends-->

								<!--title image starts-->
								<a href="/" class="navbar-brand">
									<img src="/images/logo.png" alt="{{title}}" class="img-responsive">
								</a>
								<!--titlte image ends-->
							</div>
							<!--nav starts-->
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{href}}">{{__ label}}</a>
									</li>
									{{/each}}
									<li class="dropdown">
										<a class="dropdown-togle" data-toggle="dropdown" href="#">
											{{__ "Categories"}}
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu">
											{{# each categoryLinks}}
											<li {{#ifeq category key}}class="active"{{else}}{{/ifeq}}>
												<a href="{{href}}">{{__ label}}</a>
											</li>
											{{/each}}
										</ul>
									</li>
								</ul>
								<!--search bar starts-->
								<form class="navbar-form navbar-left" method="get" onsubmit="return false;">
									<div class="form-group input-group-btn">
										<select name="category" class="form-control">
											<option value="">{{__ "Any Category"}}</option>
											{{# each data.categories}}
											<option value="{{categoryUrl key}}">{{__ name}}</option>
											{{/each}}
										</select>
										<input type="text" name="search" class="form-control" placeholder={{__ "Search Portfolio"}}>
									</div>
									<span class="form-actions input-group-btn">
										<button type="submit" class="btn btn-primary" onclick="searchPortfolio(this)">
											<span class="glyphicon glyphicon-search"></span>	
										</button>
									</span>
								</form>
								<!--search bar ends-->
								
								<div class="input-group navbar-side-dropdown">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											{{__ "Any Category"}} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">{{__ "Any Category"}}</a></li>
											<li role="separator" class="divider"></li>
											{{#each data.categories}}
											<li><a href="#">{{__ name}}</a></li>
											{{/each}}
										</ul>
									</div>
									<input type="text" class="form-control" aria-label="...">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="button">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span>
								</div>
								<!--language bar starts-->
								<form class="navbar-form navbar-left">
									<label>{{__ "Select Language"}}
										<select name="language" onchange="selectLanguage(this)" class="form-control">
											{{#each locales}}
											<option value="{{this}}"{{#ifeq ../currentLocale this}}selected{{else}}{{/ifeq}}>
												{{__ this}}
											</option>
											{{/each}}
										</select>
									</label>
								</form>
								<!--language bar ends-->
								<!--copyright starts-->
								<p class="navbar-text">
									Copyright ⓒ {{date.year}} <a href="/contact">{{title}}</a>. All rights reserved.
								</p>
								<!--copyright ends-->
							</div>
							<!--nav ends-->
						</div>
					</nav>
				</div>
				<div class="col-sm-8 col-md-9 col-lg-10">
					<div id="body" class="container-fluid">
						<!--
							Flash messages allow you to display once-off status messages to users, e.g. form
							validation errors, success messages, etc
						-->
						{{#if messages}}
						<div id="flash-messages" class="container-fluid">
							{{#if messages.info}}
							<div class="alert alert-info">
									{{{flashMessages messages.info}}}
							</div>
							{{/if}}
							{{#if messages.success}}
							<div class="alert alert-success">
									{{{flashMessages messages.success}}}
							</div>
							{{/if}}
							{{#if messages.warning}}
							<div class="alert alert-warning">
									{{{flashMessages messages.warning}}}
							</div>
							{{/if}}
							{{#if messages.error}}
							<div class="alert alert-danger">
									{{{flashMessages messages.error}}}
							</div>
							{{/if}}
						</div>
						{{/if}}
						<!-- The content block should contain the body of your template's content-->
						{{{body}}}
					</div>
				</div>
			</div>
		</div>

		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

		{{!--
			//- Masonry and Imagesloaded javascripts for the portfolio grid
		--}}
		<script src="/js/masonry/masonry.pkgd.min.js"></script>
		<script src="/js/masonry/imagesloaded.pkgd.min.js"></script>

		{{!--
			//- Google ReCaptcha API
		--}}
		<script src="https://www.google.com/recaptcha/api.js?hl={{currentLocale}}"></script>

		{{!--
			//- Custom helper js
		--}}
		<script src="/js/helpers/global.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
