<div class="col-sm-8 col-md-6">
  <h1>404: {{__ "Page Not Found"}}</h1>
	<hr>
	<div class="error_content">
		{{__ "Requested URL does not exist on this server."}} {{__ "Please try again."}}
	</div>
	<div>
		<a class="btn btn-large btn-primary" href="/">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			{{__ "Home Page"}}
		</a>
		<a class="btn btn-large btn-default buttonGoBack" href="#">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			{{__ "Go Back"}}
		</a>
	</div>
</div>

