<div class="container">
	<h4 class="text-weight-normal">{{data.portfolios.results.length}} found</h4>

	<div class="row masonry-container">
		{{# each data.portfolios.results}}
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 item">
			<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="thumbnail">

				{{#if images}}
				<img src="{{{cloudinaryUrl images.[0] width=300 gravity='north' }}}" class="img">
				{{/if}}

				<div class="caption">
					{{# if ../filters.category}}
						<h2><a href="{{portfolioUrl ../filters.category slug}}">{{{title}}}</a></h2>
					{{else}}
						<h2><a href="{{portfolioUrl categories.[0].key slug}}">{{{title}}}</a></h2>	
					{{/if}}
					<p class="lead text-muted">{{{categoryList categories}}}</p>
					<p>{{date publishedDate}}</p>
				</div>

			</div>
		</div>
		{{/each}}
	</div>

	{{>pagination}}

</div>
