<article>
	<header>
		<h1>{{data.portfolio.title}}</h1>
		<h5>
			{{{categoryList data.portfolio.categories}}}
		</h5>
		<h5 class="date">
			{{date data.portfolio.publishedDate format=(__ '#date_format#')}}
		</h5>

		{{#ifeq data.portfolio.style "webapp"}}
		<a class="btn btn-large btn-primary" target="_blank" href="{{data.portfolio.link}}">
      <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
      {{__ "View App"}}
    </a>
		{{/ifeq}}

		<a class="btn btn-large btn-default buttonGoBack" href="#">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			{{__ "Go Back"}}
		</a>

	</header>
	<hr>
	<div class="portfolio">
		{{#each data.portfolio.images}}
		<a href="{{{cloudinaryUrl}}}" target="_blank">
			<img src="{{{cloudinaryUrl}}}" class="img-responsive">
		</a>
		{{/each}}
		<div class="content">
			{{{data.portfolio.content}}}
		</div>
	</div>
	<hr>
	<footer>
		<a class="btn btn-large btn-default" href="#">
			<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
			{{__ "Top"}}
		</a>

		<a class="btn btn-large btn-default buttonGoBack" href="#">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			{{__ "Go Back"}}
		</a>
	</footer>
</article>
