<div class="container">
	<h1>Portfolio</h1>
</div>
<div class="container">

	<div>
		<form method="get" onsubmit="return false;">
      <input type="text" name="search" class="form-control" value="">
			<select name="category">
				<option value="">Any</option>
				{{# each data.categories }}
        <option value="{{categoryUrl key}}">{{name}}</option>
        {{/each}}
			</select>				
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" onclick="window.location.href = this.form.category.value + '/search/' + this.form.search.value;">
					Send
				</button>
      </div>
    </form>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<h4 class="text-weight-normal">{{data.posts.results.length}} found</h4>
			<div class="portfolio">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					{{# if ../filters.category}}
						<h2><a href="{{postUrl ../filters.category slug}}">{{{title}}}</a></h2>
					{{else}}
						<h2><a href="{{postUrl categories.[0].key slug}}">{{{title}}}</a></h2>	
					{{/if}}
					<p class="lead text-muted">{{{categoryList categories}}}
					</p>
					{{#if images}}<img src="{{{cloudinaryUrl images.[0] width=160 height=160 crop='fill' gravity='north' }}}" class="img pull-right">{{/if}}
				</div>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
