<h1>Hi {{first_name}}</h1>
<p class="text-larger">An enquiry was just submitted to {{brand}}:</p>
{{#if enquiry.email}}
	<p class="text-larger">From
	{{#if enquiry.name.full}}
		<strong>{{enquiry.name.full}}</strong>
	{{/if}}
	
	{{#if enquiry.email}}
		(<a href="mailto:{{enquiry.email}}">{{enquiry.email}}</a>)			
	{{/if}}
	</p>
	
	{{#if enquiry.phone}}
		<p class="text-larger">Phone: {{enquiry.phone}}</p>
	{{/if}}
	
	
	{{#if enquiry.message}}
		{{{enquiry.message.html}}}
	{{/if}}
	
	<button url="/keystone/enquiries/{{enquiry.id}}" label="Open Keystone" />
{{/if}}
